body {
    background-color: rebeccapurple;
    color: white;
}
.light {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    pointer-events:none;
    background: radial-gradient( circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,0.95)) 20%;    
}
