.timerWrapper {
    display: flex;
}

.timerWrapper {
    display: flex;
    position: fixed;
    right: 30px;
}

.timer {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 1% 3%;
    border: 2px solid var(--c);
    border-radius: 10px;
}

.youLose {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    right: 45%;
    top: 50%;
    padding: 30px;
    border: 3px solid var(--c);
    background-color: white;
    border-radius: 10px;
}

.player1timer {
    background-color: white;
    color: black;
    margin-right: 3vw;
    position: relative;
    bottom: 220px;
    right: 250px;
}

.player2timer {
    background-color: black;
    color: white;
    position: relative;
    bottom: 220px;
    right: 250px;
}
